body {
    box-sizing: border-box;
}

.cabecalho {
    padding: 1rem 2rem;
}

.cabecalho__menu {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
    padding-right: 2%;
}

.principal {
    padding: 5% 15%;
} 

.principal__lista {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    line-height: 2rem;
}

.lista_projeto_imagem {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.descricao_projeto {
    display: none;
}

.rodape {
    width: auto;
    padding: 1.5rem;
    text-align: center;
}

.rodape__no__chao {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 90vh;
}

@media (min-width: 720px) {
    .cabecalho {
        padding: 2% 0 0 15%;
    }

    .textos_projeto {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .descricao_projeto {
        display: block;
    }
}

@media (max-width: 480px) {
    .lista_projeto_imagem {
        display: flex;
        flex-direction: column;
    }
}
